.coming-soon-regular {
    font-family: "Coming Soon", serif;
    font-weight: 400;
    font-style: normal;
  }
  /* shared styles */
  .secondary-bg{

  }
  .text-primary{
    color: #FD6E0A;
  }
  .dark-1{
    color: #1E1E1E;
  }
.btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    color: white;
    font-size: 20px;
    padding: 18px 35px;
    border-radius: 5px;
}
.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.section-description{
    font-size: 18px;
    color: #757575;
}
.text-center{
    text-align: center;
}
/* header */
.banner{
    background-image: url("../images/developer.png"),url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

/* Nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px   200px;
}

.nav-title{
    font-weight: bolder;
    font-size: 45px;
}
nav ul {
    display: flex;
    align-items: center;
}

nav ul li {

    list-style: none;
    margin-right: 51px;

}
nav li a {
    text-decoration: none;
    font-size: 20px;
}

/* banner styles */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 230px;

}
.banner-content{
    max-width: 580px;
}
.banner-greetings{
    font-size: 45px;
    font-weight: 600;
}

.banner-title{
    font-weight: bold;
    font-size: 85px;
}
.banner-profilr-pic{
    width: 580px;
}
/* main styles */
main{
    max-width: 1100px;
    margin: 0 auto;
}
main section{
    margin-top: 130px;
    margin-bottom: 130px;
}
/* about styles */
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
   
}
.about-item{
    display: flex;
    justify-content: space-around;
}
.item-description{
    font-weight: 600;
}
/* skills section styles */
.skills-container{
    display: flex;
    gap: 24px;
}

.skill{
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
